.jumbotron
  %h1 BMI Calculator
  %p
    Welcome to the Body Mass Index calculator, here you can get to know your BMI category so you can learn
    just how healthy or unhealthy your current weight is accordingly to international health standars.
